html
	head
		// link(rel='manifest' href='/manifest.json')
		title Splush!
		link(rel='stylesheet' href='/reset.css')
		link(rel='stylesheet' href='/splush.css')
		script(src='https://www.gstatic.com/firebasejs/3.7.2/firebase.js')
		script(src='/firebaseSenderID.js')
		script(src='/splush.js' defer)
	body
		.container
			.title Splush!
			.subtitle Notifications for developers
			.showcase
				.showcase--terminal
				.showcase--phone
			.gs
				.gs--key
					p You need to generate a key to use splush on this device!
					.key-display
						button Enable notifications
						span CuteTremendousWall
					p.
						Remember that you can do the same thing on your mobile
						device! Only Android is supported at the moment
						(grr iOS).
				.gs--terminal
					p The easiest way to use splush is with the cli app.
					code.cmd.cmd-sudo npm install -g splush-cli
					p Enter the key generated earlier:
					code.cmd splush config key CuteTremendousWall
					p Send your first splush
					code.cmd splush "heck!"
					p.
						Head over to the #[a(href='#') docs]
						for some more fascinating options.
				.gs--api
					p A simple web request can do the trick too.
					code.cmd.
						curl https://splush.nikerino.com/CuteTremendousWall/hi!

			.footer created by #[a(href='https://nikerino.com') nikersify] :)
