html
	head
		title Splush!
		meta(name="viewport" content="initial-scale=1, maximum-scale=1")
		link(rel='manifest' href='/manifest.json')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/\
			ajax/libs/semantic-ui/2.2.10/semantic.css')
		link(rel='stylesheet' href='/splush.css')
		script(src='https://cdnjs.cloudflare.com/\
			ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/\
			ajax/libs/semantic-ui/2.2.10/semantic.min.js')
		script(src='https://cdn.jsdelivr.net/riot/3.4.0/riot+compiler.min.js')
		script(src='https://www.gstatic.com/firebasejs/3.7.2/firebase.js')
		script(src='/firebaseSenderID.js')
		script(src='/splush.js' defer)
	body
		.ui.masthead.inverted.vertical.segment.center.aligned
			.ui.container
				h1.ui.inverted.header.page-header Splush!
					.sub.header Notifications for developers

			.ui.container
				.showcase
					.showcase--terminal
						.bar
							.circles
								.circle.red
								.circle.yellow
								.circle.green
						.winside
							.line.in #[span.b sudo] npm install -g splush
							.line.out /usr/bin/splush -> ../node_modules/splush
							.line.in #[span.b splush]
								|  config key PunchingToniMacaroni
							.line.in #[span.b splush] push Hello world!
							.line.out
								span.i.b @ Splush success!
							.line.in cd bananas/
							.line.in.bananas #[span.b make] && #[span.b make]
								|  install; #[span.b splush] push "bananas $?"
							.line.out make... done
							.line.out
								span.i.b @ Splush success!
							.line.in.bananas #[span.cursor]
					.showcase--phone
						.decor
							.speaker
							.camera
							.buttons
								.left
									.notif
									.up
									.down
								.right
									.sleep
						.screen
							.notification
								.ico
									i.bell.outline.icon
								.text
									.title Splush!
									.subtitle Hello world!
							.notification
								.ico
									i.bell.outline.icon
								.text
									.title Splush!
									.subtitle bananas 0
		.ui.vertical.inverted.segment
			.ui.divider
			.ui.container.center.aligned
				h1.ui.title Getting started
				.steps
					.step(data-n=1)
						.title Generate a key
						.content
							p.
								Let's generate a key that you will use to
								push notifications to this device.
							key-gen
							p.
								Remember that you can do the same thing on your
								mobile device, although only Android is
								supported at the moment (grr apple).
					.step(data-n=2)
						.title Using Splush
						.content
							p The easiest way to use splush is with the cli app:
							code.cmd.cmd-sudo
								| npm install -g splush-cli
							p Configure it with the key we've generated earlier:
							code.cmd
								| splush config key #[key-display]
							p Send your first splush notification:
							code.cmd splush "heck!"
							p.
								Head over to the #[a docs] for some more
								fascinating options with the cli.
					.step(data-n=3)
						.title Web API
						.content
							p Sending a simple HTTP request can do the trick too:
							code.cmd curl https://splush.nikerino.com/
								| #[key-display]/hi!
					.step(data-n=4)
						.title That's it!
		.ui.vertical.inverted.segment
			.ui.divider
			.ui.container.right.aligned
				.footer
					h3 #[a(href='//nikerino.com') nikersify] made this :)

		script(data-src='/tags/key-gen.tag' type='riot/tag')
		script(data-src='/tags/key-display.tag' type='riot/tag')
		script(data-src='/tags/copy-btn.tag' type='riot/tag')
